.instance {
    padding-right: 3%;
}

h1{
  font-family: Garamond, serif;
  color: #000000;
}

body {
  width: 500px;
  max-height: 350px;
  height: 350px;
  background-color: FloralWhite;
}

.pad-fr{
  width: 500px;
  height: 350px;
  position: absolute;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#container{
  position: absolute;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

button {
  display: inline-grid;
  border-radius: 100px;
  background-color: #ff4646;
  border: none;
  color: FloralWhite;
  text-align: center;
  font-size: 150%;
  padding: 2% 4%;
  width: 40%;
  height: 10%;
  outline: none;
  cursor: pointer;
  margin: 1%;
  position: relative;
  box-shadow: 0 2px #999;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

button:hover {
  background-color: #e83838;
}

button:active {
  background-color: #e83838;
  box-shadow: 0 1px #666;
  transform: translateY(4%);
}

.close{
  right: 0%;
  width: 9%;
  height: 20%;
  padding: 8% 3.5%;
  font-size: 50%;
  position: absolute;
  border-radius: 0px 100px 100px 0px;
}

.close:hover{
  background-color: #cf2b2b;
}

div {
  position: relative;
}

#div{
  overflow-y: scroll;
  max-height: 200px;
}


::-webkit-scrollbar {
  width: 7.5px;
  margin-left: 0px;
  margin-right: 0px;
}

::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff4646;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e83838;
}

#tab{
  right: .5%;
}
