/*[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  position: absolute;
  bottom: -1.6em;
  left: 2%;
  padding: 4px 4px 4px 8px;
  color: #222;
  white-space: nowrap; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;  
  border-radius: 5px;  
  -moz-box-shadow: 0px 0px 4px #222;  
  -webkit-box-shadow: 0px 0px 4px #222;  
  box-shadow: 0px 0px 4px #222;  
  background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f8f8f8),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);  
  background-image: -moz-linear-gradient(top, #f8f8f8, #cccccc);  
  background-image: -ms-linear-gradient(top, #f8f8f8, #cccccc);  
  background-image: -o-linear-gradient(top, #f8f8f8, #cccccc);
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}
*/ 

.instance {
    padding-right: 3%;
}

h1{
  font-family: Tahoma, serif;
}

body {
  width: 400px;
  max-height: 350px;
  height: 350px;
  background-color: #d3d6e3;
}

div {
  position: relative;
}

/*--------------------header styling-------------------------*/

.header-text{
    display: inline;
    font-style: italic;
    position: absolute;
}

#hdr-text{
    font-size: 1.5em;
    top: 37%;
    left: 50%;
}

#tablock{
    color: #2d9bf0;
    font-size: 2.5em;
    top: -10%;
}

#header{
    background-color: #a7acc6;   
    width: 100%;
    position: relative;
    /*margin-left: -8px;
    margin-top: -8px;*/
}

#container{
  position: relative;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/*----------------------Tooltip styling----------------------*/

#tooltip_tab{
  font-size: 16px;
  position: absolute;
  display: none;
  border-radius: 5px;
  background-color: #a7acc6;
  animation-name: appear;
  animation-duration: 1.5s;
  margin-left: 31%;
  margin-top: -.2%; 
  padding: 0% 1.2% .2% 1.2% ;
}

#tooltip_window{
  font-size: 16px;
  position: absolute;
  display: none;
  border-radius: 5px;
  background-color: #a7acc6;
  animation-name: appear;
  animation-duration: 1.5s;
  margin-left: 20%;
  margin-top: -.2%; 
  padding: 0% 1.2% .2% 1.2% ;
}

@keyframes appear {
  0%{opacity: 0;} 
  50%{opacity: 0;}
  60%{opacity: 0;} 
  65%{opacity: .15;} 
  70%{opacity: .3;} 
  75%{opacity: .45;} 
  80%{opacity: .6;} 
  85%{opacity: .7;} 
  90%{opacity: .8;} 
  95%{opacity: .9;} 
  100%{opacity: 1;} 
}

/*----------------------Button Container styling----------------------*/

#mainDiv{
    display: grid;
    grid-template-columns: 1fr .005fr 1fr;
    grid-column-gap: 1%;
    margin: 5% 0 0;
    width: 95%;
    height: 260px;
    position: absolute;
}

#divider{
    height: 100%;
    width: 100%;
    background-color: #a7acc6;
}

.btnContainer{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    margin: 0%;

}

/*----------------------Button styling----------------------*/

button {
  border-radius: 100px;
  background-color: #4e598c;
  border: none;
  color: FloralWhite;
  text-align: center;
  font-family: Tahoma, serif;
  font-size: 125%;
  padding: 2% 4%;
  width: 80%;
  height: 12%;
  margin: 1%;
  position: relative;
  box-shadow: 0 2px #999;
}

button:hover {
  background-color: #414a75;
}

button:active {
  background-color: #414a75;
  box-shadow: 0 1px #666;
  transform: translateY(4%);
}

/*-----------------------------Create Button Styling----------------*/

.create{
    background-color: #d3d6e3;
    color: black;
    box-shadow: none;
}

.create:hover{
    background-color: #4e598c;
    color: FloralWhite;
    box-shadow: 0 2px #999;
}

/*-------------------------Close Button Styling-----------------*/

.close{
  right: 0%;
  top: 5%;
  width: 15%;
  height: 22%;
  padding: 8% 3.5%;
  font-size: 50%;
  position: absolute;
  border-radius: 0px 100px 100px 0px;
}

.close:hover{
  background-color: #373f63;
}


/*--------------------------Scrollbar Styling-----------------*/

::-webkit-scrollbar {
  width: 7.5px;
  margin-left: 0px;
  margin-right: 0px;
}

::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4e598c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #414a75;
}

