body {
  width: 480px;
  height: 300px;
  background-color: FloralWhite;
}

.button {
  display: inline-grid;
  border-radius: 50%;
  background-color: #ff4646;
  border: none;
  color: FloralWhite;
  text-align: center;
  font-size: 150%;
  padding: 4%;
  width: 17%;
  outline: none;
  cursor: pointer;
  margin: 1%;
  position: relative;
  box-shadow: 0 2px #999;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.button:hover {
  background-color: #e83838;
}

.button:active {
  background-color: #e83838;
  box-shadow: 0 1px #666;
  transform: translateY(5%);
}

.header{
  border: none;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  outline: none;
  border-radius: 8px;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 67.57%;
  font-size: 130%;
  color: FloralWhite;
  background-color: #ffb396;
}

.special{
  font-size: 130%;
}

div{
  margin: auto;
  align: center;
  padding-top: 2.8%;
  padding-bottom: 8.1%;
  border-radius: 5.4%;
  width: 50%; /*320px*/
  max-width: 320px;
  height: 35%; /*300px*/
  background-color: #ff8585;
  padding-bottom: 4%;
}

h1{
  font-size: 170%;
  font-family: Garamond, serif;
}

::placeholder {
  color: #f5eecb;
  opacity: 70%;
}
